@import "tailwindcss";

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Unbounded";
    src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #03050f;
    color: #dfdfdf;
}

@theme {
    --color-electric-green: #c8ff3e;
    --color-gray-purple: #52517b;
    --font-family-dm-sans: "DM Sans", sans-serif;
    --font-family-unbounded: "Unbounded", sans-serif;
}
